name: 4re5-repo

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build
      run: make
    - name: install 4re5 manager
      run: wget https://github.com/4RE5group/4re5-manager/releases/latest/download/release.deb && sudo dpkg -i release.deb && 4re5-manager -v
    - name: update repo
      run: 4re5-manager update && 4re5-manager install shadowclient
